name: Lint, Test & Build Debug

on:
  push:
    branches:
      - master
      - development/ci-cd/init
  pull_request:
    branches:
      - master
    tags:
      - 'v*'

jobs:
  android-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Print Java Version
        run: javac -version
      - name: Change Wrapper Permissions
        run: chmod +x ./gradlew

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run Android Lint
        run: ./gradlew lintDebug

      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest

      - name: Upload Unit Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: '**/build/test-results/testDebugUnitTest/*.xml'
          reporter: java-junit

      - name: Unit Test Reporter
        if: always()
        uses: dorny/test-reporter@v1
        with:
          name: Unit Tests Results
          path: '**/build/test-results/testDebugUnitTest/*.xml'
          reporter: java-junit

      - name: Assemble Debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk